AP-32_CD20/knowledge/EI/attachments/49251032/49251036.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://arbes.com/ib/jat/ws/ApplicationWs/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://arbes.com/ib/jat/ws/ApplicationWs/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://arbes.com/ib/jat/ws/ApplicationWs/">
      <s:import namespace="http://microsoft.com/wsdl/types/"/>
      <s:element name="ManageApplication">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="action" type="tns:ApplicationAction"/>
            <s:element minOccurs="0" maxOccurs="1" name="appl" type="tns:Application"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="ApplicationAction">
        <s:restriction base="s:string">
          <s:enumeration value="Create"/>
          <s:enumeration value="Update"/>
        </s:restriction>
      </s:simpleType>
      <s:complexType name="Application">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="KlientId" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="ApplicationType" nillable="true" type="tns:ApplicationType"/>
          <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="Status" nillable="true" type="tns:ApplicationStatus"/>
          <s:element minOccurs="1" maxOccurs="1" name="ApplicationId" nillable="true" type="s1:guid"/>
          <s:element minOccurs="1" maxOccurs="1" name="ApplicationNumber" nillable="true" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="CreatedAt" nillable="true" type="s:dateTime"/>
          <s:element minOccurs="1" maxOccurs="1" name="Country" nillable="true" type="tns:Location"/>
          <s:element minOccurs="0" maxOccurs="1" name="AgreementId" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="RealizationDate" nillable="true" type="s:dateTime"/>
          <s:element minOccurs="0" maxOccurs="1" name="ProductNumber" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Currency" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="StartDate" nillable="true" type="s:dateTime"/>
          <s:element minOccurs="1" maxOccurs="1" name="MaturityDate" nillable="true" type="s:dateTime"/>
          <s:element minOccurs="1" maxOccurs="1" name="InterestRate" nillable="true" type="s:double"/>
          <s:element minOccurs="1" maxOccurs="1" name="Renewal" nillable="true" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="InterestDisposition" nillable="true" type="tns:InterestDisposition"/>
          <s:element minOccurs="0" maxOccurs="1" name="PrincipalAccount" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="InterestAccount" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="WithdrawalPeriod" nillable="true" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="WithdrawalPeriodUnit" nillable="true" type="tns:PeriodUnit"/>
          <s:element minOccurs="0" maxOccurs="1" name="Amount" nillable="true" type="s:decimal"/>
          <s:element minOccurs="0" maxOccurs="1" name="AmountAll" nillable="true" type="s:boolean"/>

          <!-- product 50:50 -->
          <s:element minOccurs="0" maxOccurs="1" name="AmountInvestment" nillable="true" type="s:decimal"/>
          <s:element minOccurs="0" maxOccurs="1" name="AmountDeposit" nillable="true" type="s:decimal"/>
          <s:element minOccurs="0" maxOccurs="1" name="SecurityId" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="SecurityIsin" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="SecurityName" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="PortfolioId" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="BlockingId" type="s:int"/>

          <s:element minOccurs="0" maxOccurs="1" name="PrKind" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="PrType" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Variant" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="PaymentCardNumber" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="InternetPayments" nillable="true" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="TermPeriod" nillable="true" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="TermPeriodUnit" nillable="true" type="tns:PeriodUnit"/>
          <s:element minOccurs="1" maxOccurs="1" name="KeepDepositOpen" nillable="true" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="InterestPeriod" nillable="true" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="InterestPeriodUnit" nillable="true" type="tns:PeriodUnit"/>
          <s:element minOccurs="0" maxOccurs="1" name="CurrentAccount" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="DepositNumber" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="LimitPeriodUnit" nillable="true" type="tns:PeriodUnit"/>
          <s:element minOccurs="1" maxOccurs="1" name="TotalLimit" nillable="true" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="CashLimit" nillable="true" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="PosLimit" nillable="true" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="INTLimit" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="INTPhone" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="VOPAcceptance" nillable="true" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="AddService" type="tns:ArrayOfAddService" />
          <s:element minOccurs="1" maxOccurs="1" name="DeliveryMethod" nillable="true" type="tns:DeliveryMethod"/>
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="HolderId" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="WithdrawalStart" nillable="true" type="s:dateTime"/>
          <s:element minOccurs="1" maxOccurs="1" name="WithdrawalEnd" nillable="true" type="s:dateTime"/>
          <s:element minOccurs="0" maxOccurs="1" name="VariableSymbol" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ConstantSymbol" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="SpecificSymbol" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="AutoRenewal" nillable="true" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="DirectDebitRealizaCount" nillable="true" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="DirectDebitPeriod" nillable="true" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="DirectDebitPeriodUnit" nillable="true" type="tns:PeriodUnit"/>
          <s:element minOccurs="1" maxOccurs="1" name="ValidFrom" nillable="true" type="s:dateTime"/>
          <s:element minOccurs="1" maxOccurs="1" name="ValidTo" nillable="true" type="s:dateTime"/>
          <s:element minOccurs="1" maxOccurs="1" name="Processing" nillable="true" type="tns:ProcessingType"/>
          <s:element minOccurs="0" maxOccurs="1" name="Iban" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ApplicationType">
        <s:restriction base="s:string">
          <s:enumeration value="NewCa"/>
          <s:enumeration value="NewTd"/>
          <s:enumeration value="NewSa"/>
          <s:enumeration value="NewInv"/>
          <s:enumeration value="NewDoc"/>
          <s:enumeration value="NewCard"/>
          <s:enumeration value="New50"/>
          <s:enumeration value="Renew"/>
          <s:enumeration value="CardLim"/>
          <s:enumeration value="TdWithd"/>
          <s:enumeration value="ChngSetAcc"/>
          <s:enumeration value="AutProl"/>
          <s:enumeration value="ManProl"/>
          <s:enumeration value="TdProl"/>
          <s:enumeration value="IntPay"/>
          <s:enumeration value="DirDebit"/>
          <s:enumeration value="NewGd"/>
          <s:enumeration value="TdRenew" />
          <s:enumeration value="UpdSa"/>
          <s:enumeration value="EndSa"/>
          <s:enumeration value="UPDDOMADDR"/>
          <s:enumeration value="UPDDOCUMENT"/>
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="ApplicationStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Signed"/>
          <s:enumeration value="Process"/>
          <s:enumeration value="ProcessPart"/>
          <s:enumeration value="Finish"/>
          <s:enumeration value="Error"/>
          <s:enumeration value="Manual"/>
          <s:enumeration value="Rejected"/>
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="Location">
        <s:restriction base="s:string">
          <s:enumeration value="Cz"/>
          <s:enumeration value="Sk"/>
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="InterestDisposition">
        <s:restriction base="s:string">
          <s:enumeration value="ToAcc"/>
          <s:enumeration value="ToPrinc"/>
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="PeriodUnit">
        <s:restriction base="s:string">
          <s:enumeration value="D"/>
          <s:enumeration value="W"/>
          <s:enumeration value="M"/>
          <s:enumeration value="Y"/>
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfAddService">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AddService" nillable="true" type="tns:AddService" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AddService">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IDServices" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="AddItems" type="tns:ArrayOfAdditionalItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAdditionalItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AdditionalItem" nillable="true" type="tns:AdditionalItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AdditionalItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BirthNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="DeliveryMethod">
        <s:restriction base="s:string">
          <s:enumeration value="Post"/>
          <s:enumeration value="Person"/>
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="ProcessingType">
        <s:restriction base="s:string">
          <s:enumeration value="Auto"/>
          <s:enumeration value="Manual"/>
        </s:restriction>
      </s:simpleType>
      <s:element name="ManageApplicationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ManageApplicationResult" type="s1:guid"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WsSecurityContext" type="tns:WsSecurityContext"/>
      <s:complexType name="WsSecurityContext">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="KlientID" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="RequestID" type="s1:guid"/>
        </s:sequence>
        <s:anyAttribute/>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ManageApplicationSoapIn">
    <wsdl:part name="parameters" element="tns:ManageApplication"/>
  </wsdl:message>
  <wsdl:message name="ManageApplicationSoapOut">
    <wsdl:part name="parameters" element="tns:ManageApplicationResponse"/>
  </wsdl:message>
  <wsdl:message name="ManageApplicationWsSecurityContext">
    <wsdl:part name="WsSecurityContext" element="tns:WsSecurityContext"/>
  </wsdl:message>
  <wsdl:portType name="ApplicationWsSoap">
    <wsdl:operation name="ManageApplication">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Vytvoří nebo změní žádost v CRM. Vrací ApplicationId</wsdl:documentation>
      <wsdl:input message="tns:ManageApplicationSoapIn"/>
      <wsdl:output message="tns:ManageApplicationSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ApplicationWsSoap" type="tns:ApplicationWsSoap">
    <wsdl:documentation>
      <wsi:Claim conformsTo="http://ws-i.org/profiles/basic/1.1" xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/"/>
    </wsdl:documentation>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ManageApplication">
      <soap:operation soapAction="http://arbes.com/ib/jat/ws/ApplicationWs/ManageApplication" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:ManageApplicationWsSecurityContext" part="WsSecurityContext" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
        <soap:header message="tns:ManageApplicationWsSecurityContext" part="WsSecurityContext" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ApplicationWsSoap12" type="tns:ApplicationWsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ManageApplication">
      <soap12:operation soapAction="http://arbes.com/ib/jat/ws/ApplicationWs/ManageApplication" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:ManageApplicationWsSecurityContext" part="WsSecurityContext" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
        <soap12:header message="tns:ManageApplicationWsSecurityContext" part="WsSecurityContext" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ApplicationWs">
    <wsdl:port name="ApplicationWsSoap" binding="tns:ApplicationWsSoap">
      <soap:address location="http://TO-BE-CHANGED/ib/jat/ws/ApplicationWs/"/>
    </wsdl:port>
    <wsdl:port name="ApplicationWsSoap12" binding="tns:ApplicationWsSoap12">
      <soap12:address location="http://TO-BE-CHANGED/ib/jat/ws/ApplicationWs/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>